* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-two {
    width: 1300px;
    height: 950px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block-two {
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bttn {
    width: 130px;
    height: 40px;
    border: 2px solid #8B9D83;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box1_one {
    width: 270px;
    height: 370px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid #8B9D83;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.btn1_3 {
    width: 160px;
    height: 40px;
    background: #8B9D83;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}