* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer-one {
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.continer {
    width: 1250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.continer-two {
    width: 550px;
    height: 250px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #8B9D83;
}

.mk {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}